<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL"
	strict="true" 
    name="TestingAttributes"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="Log4j-config.xsd">
    
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- Flow tracing is most useful with a pattern that shows location. Below 
				pattern outputs class, line number and method name. -->
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
		<Console name="ConsoleError" target="SYSTEM_ERR">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
		
		<File name="ErrorFile" fileName="compiladoido.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</File>
	</Appenders>
	
	<Loggers>
		<!-- Class specific -->
		<Logger name="si.vv.pokebola.compiladoido.LexicalAutomata"
			level="WARN" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- Project specific -->
		<Logger name="si.vv.pokebola" level="ALL" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- All others -->
		<Root level="ERROR">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>